<html>
	<head>
		<title>
			Information Trvaels
		</title>
		<%= stylesheet_link_tag "style" %>
	</head>

	<body>
		<div class="page">
			<section>
				<%= image_tag("logo.jpg", :alt => "", :class => "logoimage") %>
				
				<div id="heading">
					Information Travels
				</div>
				<div id="underhead">
					Luxury Holiday Made Affordable
				</div>				
			</section>
			<section>
				<nav>
					<li class="navmenu">
						<a href="Home.php">Home</a>
					</li>
					<li class="navmenu">
						<a href="India Tourism.php">Indian Tourism</a>
					</li>	
					<li class="navmenu">
						<a href="Destination.php" >Destination</a>
					</li>
					<li class="navmenu">
						<a href="ContactUs.php" >ContactUs</a>
					</li>	
				</nav>
			</section>			
			<div id="slidediv">
				<%= image_tag("Home/pr1.jpg", :alt => "",:class => "imgslide") %>						
			</div>
		</div>

		<%= yield %>

	</body>
</html>